{include file="pageheader.htm"}
<form name="formSurplus" method="post" action="role_points_gz_ex.php" onsubmit="return submitSurplus()">
    <table width="100%" border="0" cellpadding="10" cellspacing="1" bgcolor="#eeeeee">
        <tbody><tr>
                <td width="10%" align="right">提现积分:</td>
                <td align="left"><input type="text" name="amount" value="" class="inputBg" size="30"></td>
            </tr>
            <tr>
                <td align="right">会员备注:</td>
                <td align="left"><textarea name="user_note" cols="55" rows="6" style="border:1px solid #ddd;"></textarea></td>
            </tr>
            <tr>
                <td colspan="2" align="center"><input type="hidden" name="surplus_type" value="1">
                    <input type="hidden" name="act" value="act_account">
                    <input type="submit" name="submit" class="main-btn main-btn-large" value="提交申请">
                    <input type="reset" name="reset" class="main-btn main-btn-large" value="重置表单"></td>
            </tr>
        </tbody></table>
</form>
<script type="text/javascript">
    function submitSurplus()
    {
        var frm = document.forms['formSurplus'];
        var surplus_amount = frm.elements['amount'].value;
        var process_notic = frm.elements['user_note'].value;
        var payment_id = 0;
        var msg = '';

        if (surplus_amount.length == 0)
        {
            msg +=  "提现积分不能为空\n";
        } else
        {
            var reg = /^[\.0-9]+/;
            if (!reg.test(surplus_amount))
            {
                msg +=  '提现积分格式不正确\n';
            }
        }

        if (msg.length > 0)
        {
            alert(msg);
            return false;
        }
        return true;
    }
</script>
{include file="pagefooter.htm"}