<!-- $Id: agency_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->

{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js"}

<form method="post" action="" name="listForm" onsubmit="return confirm(batch_drop_confirm);">
    <div class="list-div" id="listDiv">
        {/if}
        <table cellpadding="3" cellspacing="1">
            <tr>
                <th> <input onclick='listTable.selectAll(this, "checkboxes")' type="checkbox" />
                    <a href="javascript:listTable.sort('id'); ">ID</a></th>
                <th><a href="javascript:listTable.sort('pension_name'); ">名称</a></th>
                <th>价格</th>
                <th>状态</th>
                <th>{$lang.handler}</th>
            </tr>
            {foreach from=$pension_infos_list item=agency}
            <tr>
                <td><input type="checkbox" name="checkboxes[]" value="{$agency.id}" />
                    {$agency.id}</td>
                <td>{$agency.pension_name|escape:html}</td>
                <td>{$agency.money}</td>
                <td><img src="images/{if $agency.pension_status eq '1'}yes{else}no{/if}.gif" onclick="listTable.toggle(this, 'toggle_remove', {$agency.id})" /></td>
                <td align="center">
                    <a href="pension_manage.php?act=edit&id={$agency.id}" title="{$lang.edit}">{$lang.edit}</a>   </td>
            </tr>
            {foreachelse}
            <tr><td class="no-records" colspan="6">{$lang.no_records}</td></tr>
            {/foreach}
        </table>
        <table id="page-table" cellspacing="0">
            <tr>
                <td>
                </td>
                <td align="right" nowrap="true">
                    {include file="page.htm"}
                </td>
            </tr>
        </table>

        {if $full_page}
    </div>
</form>

<script type="text/javascript" language="javascript">
    <!--
  listTable.recordCount = {$record_count};
    listTable.pageCount = {$page_count};
    {foreach from = $filter item = item key = key}
    listTable.filter.{$key} = '{$item}';
    {/foreach}

    {literal}
    onload = function()
    {
    // 开始检查订单
    startCheckOrder();
    }
    {/literal}
            //-->
</script>
{include file="pagefooter.htm"}
{/if}