<!-- $Id: agency_list.htm 14216 2008-03-10 02:27:21Z testyang $ -->
{if $full_page}
{include file="pageheader.htm"}
{insert_scripts files="../js/utils.js,listtable.js,jquery-1.6.2.min.js,chosen.jquery.min.js"}
<script type="text/javascript" src="../js/calendar.php?lang="></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
<link href='styles/store.css' rel='stylesheet' type='text/css' />
<link href='styles/chosen/chosen.css' rel='stylesheet' type='text/css' />
<div class="list-div">
	<div class="rebate-detaile">
        <div class="rebate_item rebate_shop-item">
            <div class="item-hd">
            	<p>佣金抽成总额</p>
                <p>{$main_info.rebate_money}元</p>
            </div>
        </div>
        <div class="rebate_item rebate_goods-item">
            <div class="item-hd">
            	<p>平台收入总额</p>
                <p>+{$main_info.all_money}元</p>
            </div>
        </div>
        <div class="rebate_item rebate_order-item">
            <div class="item-hd">
            	<p>平台支出总额</p>
                <p>-{$main_info.result_money}元</p>
            </div>
        </div>
    </div>
</div>
<div class="form-div">
	<form action="supplier_rebate.php" method="post" name="searchForm">
		<table width="100%" cellpadding="0" cellspacing="0" border="0">
          <tr>
            <!-- <td width="7%" align="right">商家名称：</td> -->
            <td width="100%" align="left">
            	<!-- <input type="text" name="" /> -->
<!--				<select class="chzn-select" data-placeholder="商家/运营中心名称" style="width:350px;display: none;" name="suppid"> 
				<option value=""></option>
                {* 代码增加 By www.68ecshop.com Start *}
                <option value="">全部</option>
                {* 代码增加 By www.68ecshop.com End *}

                    {foreach from=$supplier_info item=supp}
				   <option value="{$supp.supplier_id}">{$supp.supplier_name}</option>  
				{/foreach}
				</select>-->
<input name="start_time" type="text" placeholder="开始时间" id="start_time" value="{$favourable.start_time}" readonly="readonly" />
<input name="selbtn1" type="button" id="selbtn1" onclick="return showCalendar('start_time', '%Y-%m-%d %H:%M', '24', false, 'selbtn1');" value="{$lang.btn_select}" class="button" />&nbsp;-&nbsp;<input name="end_time" placeholder="结束时间" type="text" id="end_time" value="{$favourable.end_time}" readonly="readonly" /><input name="selbtn2" type="button" id="selbtn2" onclick="return showCalendar('end_time', '%Y-%m-%d %H:%M', '24', false, 'selbtn2');" value="{$lang.btn_select}" class="button" />
           
 <select class="chzn-select" name='is_suppliers' id="is_suppliers" data-placeholder="商家/运营中心" style='width:123px;'>
    			<option   value=""  selected='selected'>全部</option>
				{foreach from=$is_suppliers item=is_suppliers}
    			<option value='{$is_suppliers.code}'>{$is_suppliers.name}</option>
				{/foreach}
    		</select>
                <select class="chzn-select" name='is_offline' id="is_offline" data-placeholder="线上/线下报单" style='width:123px;'>
    			<option  value="" selected='selected'>全部</option>
				{foreach from=$offlines item=offlines}
    			<option value='{$offlines.code}'>{$offlines.name}</option>
				{/foreach}
    		</select>
               
                <a href='javascript:search_submit()' class="button_round" title="搜索" >搜索</a>
                <a class="button_round" title="批量导出搜索结果" onclick="exportSupps()">下载</a>
            </td>
          </tr>
		</table>
	</form>
</div>

<form method="post" action="" name="listForm" onsubmit="return confirm(batch_drop_confirm);">
<div class="list-div" id="listDiv">
{/if}

  <table cellpadding="3" cellspacing="1">
    <tr>
        <th>运营中心名称</th>
	  <th>商家名称</th>
           <th>报单人</th>
      <th><a href="javascript:listTable.sort('all_money'); ">订单收入总额（元）</a></th>
      <th><a href="javascript:listTable.sort('rebate_money'); ">佣金抽成总额（元）</a></th>
      <th><a href="javascript:listTable.sort('result_money'); ">商家实际收入总额（元）</a></th>
	  <th>操作</th>
    </tr>
    {foreach from=$supplier_list item=supplier}
    <tr>
            <td align='center'>{if $supplier.supplier_name and $supplier.region_name}所属运营中心<br/>({$supplier.region_name}){else}{$supplier.region_name}{/if}</td>
	  <td align="center">{$supplier.supplier_name}</td>
          <td align="center">{$supplier.mobile_phone}{if $supplier.real_name}({$supplier.real_name}){/if}</td>
      <td align="center">+{$supplier.all_money}</td>
      <td align="center">-{$supplier.rebate_money}</td>
      <td align="center">{$supplier.result_money}</td>
	  <td align="center"><a href="supplier_rebate.php?act=view&suppid={$supplier.user_id}&supplier_id={$supplier.supplier_id}" title="查看"><img src="images/icon_view.gif" border="0" height="16" width="16" /></a></td>
    </tr>
    {foreachelse}
    <tr><td class="no-records" colspan="5">{$lang.no_records}</td></tr>
    {/foreach}
  </table>
<table id="page-table" cellspacing="0">
  <tr>
    <td>&nbsp;</td>
    <td align="right" nowrap="true">
    {include file="page.htm"}
    </td>
  </tr>
</table>

{if $full_page}
</div>
</form>

<script type="text/javascript" language="javascript">
  <!--
  listTable.recordCount = {$record_count};
  listTable.pageCount = {$page_count};

  {foreach from=$filter item=item key=key}
  listTable.filter.{$key} = '{$item}';
  {/foreach}

  {literal}
  onload = function()
  {
      // 开始检查订单
      startCheckOrder();
  }
  /**
     * 搜索订单
     */
    function searchRebate()
    {
        //listTable.filter['suppid'] = Utils.trim(document.forms['searchForm'].elements['suppid'].value);
        listTable.filter['start_time'] = Utils.trim(document.forms['searchForm'].elements['start_time'].value);
        listTable.filter['end_time'] = Utils.trim(document.forms['searchForm'].elements['end_time'].value);
        listTable.filter['is_offline'] = Utils.trim(document.forms['searchForm'].elements['is_offline'].value);
        listTable.filter['is_suppliers'] = Utils.trim(document.forms['searchForm'].elements['is_suppliers'].value);
        listTable.filter['page'] = 1;
        listTable.loadList();
    }
	function search_submit(){
		//listTable.query = "search_query";
		searchRebate();
	}

	function exportSupps()
	{
		var frm=document.forms['searchForm'];
		frm.action ="supplier_rebate.php?act=export_supps&is_export=1";
		frm.submit();
	}
  {/literal}
  //-->
</script>
<script type="text/javascript">
	$().ready(function(){
		$(".chzn-select").chosen();
	});
</script>
{include file="pagefooter.htm"}
{/if}