<!-- $Id: auction_info.htm 16992 2010-01-19 08:45:49Z wangleisvn $ -->
{include file="pageheader.htm"}
<script type="text/javascript" src="../js/calendar.php?lang={$cfg_lang}"></script>
<link href="../js/calendar/calendar.css" rel="stylesheet" type="text/css" />
{insert_scripts files="validator.js,../js/transport.org.js,../js/utils.js}
<div class="main-div">
<form method="post" action="xxtz_hd_chou_jiang.php" name="theForm" enctype="multipart/form-data" onSubmit="return validate()">


 

<table cellspacing="1" cellpadding="3" width="100%">
  <tr>
    <td class="label">活动名称</td>
    <td><input name="act_name" type="text" id="act_name" value="{$auction.act_name}" maxlength="60" />
    如果留空，取拍卖商品的名称（该名称仅用于后台，前台不会显示）</td>
  </tr>
   
   <tr>
    <td class="label">活动类型 <?php var_dump($auction); ?></td>
    <td>
     <select name="act_type"  id="act_type">
        <option value="6" {if $auction.act_type==6}  selected='selected'  {/if} >幸运抽奖 </option>
        <option value="7" {if $auction.act_type==7}  selected='selected'  {/if} >限时抽奖 </option>
     </select>
    </td>
  </tr>
  
  
  
  <tr>
    <td class="label">活动描述：</td>
    <td><textarea  name="act_desc" cols="60" rows="4" id="act_desc"  >{$auction.act_desc}</textarea></td>
  </tr>
  <tr>
    <td align="right">根据商品编号、名称或货号搜索商品</td>
    <td><input name="keyword" type="text" id="keyword">
      <input name="search" type="button" id="search" value="{$lang.button_search}" class="button" onclick="searchGoods()" /></td>
  </tr>
  <tr>
    <td class="label">商品名称：</td>
    <td><select name="goods_id" id="goods_id" onchange="javascript:change_good_products();">
      <option value="{$auction.goods_id}" selected="selected">{$auction.goods_name}</option>
    </select>
    <select name="product_id" {if $auction.product_id <= 0}style="display:none"{/if}>
        {html_options options=$good_products_select selected=$auction.product_id}
        </select></td>
  </tr>
  <tr>
    <td class="label">开始时间：</td>
    <td><input name="start_time" type="text" id="start_time" value="{$auction.start_time}" readonly="readonly" />
      <input name="selbtn1" type="button" id="selbtn1" onclick="return showCalendar('start_time', '%Y-%m-%d %H:%M', '24', false, 'selbtn1');" value="{$lang.btn_select}" class="button" /></td>
  </tr>
  <tr>
    <td class="label">结束时间：</td>
    <td><input name="end_time" type="text" id="end_time" value="{$auction.end_time}" readonly="readonly" />
      <input name="selbtn2" type="button" id="selbtn2" onclick="return showCalendar('end_time', '%Y-%m-%d %H:%M', '24', false, 'selbtn2');" value="{$lang.btn_select}" class="button" /></td>
  </tr>
  <tr>
    <td class="label">所需积分</td>
    <td><input name="price" type="text" id="price" value="{$auction.price}" maxlength="10"></td>
  </tr>
   
  <tr>
    <td class="label">奖品数量</td>
    <td><input name="num" maxlength="10" type="text" id="num" value="{$auction.num}">
 	</td>
  </tr>
  
  <tr>
    <td colspan="2" align="center">
      {if $auction.act_id eq 0 or $auction.status eq 0 }
      <input type="submit" class="button" value="提交" />
      <input type="reset" class="button" value="重置" />
      <input type="hidden" name="act" value="{$form_action}" />
      {/if}
      <input type="hidden" name="id" value="{$auction.act_id}" /></td>
  </tr>
</table>
</form>
</div>

{literal}
<script language="JavaScript">
<!--
var display_yes = (Browser.isIE) ? 'block' : 'table-row-group';

onload = function()
{
    // 开始检查订单
    startCheckOrder();
}
/**
 * 检查表单输入的数据
 */
function validate()
{
    validator = new Validator("theForm");
    validator.isNumber('start_price', start_price_not_number, false);
    validator.isNumber('end_price', end_price_not_number, false);

    if (document.forms['theForm'].elements['no_top'].checked == false)
    {
      validator.gt('end_price', 'start_price', end_gt_start);
    }
    validator.isNumber('amplitude', amplitude_not_number, false);
    validator.isNumber('deposit', deposit_not_number, false);
    validator.islt('start_time', 'end_time', start_lt_end);
    return validator.passed();
}
function checked_no_top(o)
{
  if (o.checked)
  {
    o.form.elements['end_price'].value = '';
    o.form.elements['end_price'].disabled = true;
  }
  else
  {
    o.form.elements['end_price'].disabled = false;
  }
}
function searchGoods()
{
  var filter = new Object;
  filter.keyword  = document.forms['theForm'].elements['keyword'].value;

  Ajax.call('xxtz_hd_chou_jiang.php?is_ajax=1&act=search_goods', filter, searchGoodsResponse, 'GET', 'JSON');
}

function searchGoodsResponse(result)
{
  if (result.error == '1' && result.message != '')
  {
    alert(result.message);
    return;
  }

  var frm = document.forms['theForm'];
  var sel = frm.elements['goods_id'];
  var sp = frm.elements['product_id'];

  if (result.error == 0)
  {
    /* 清除 options */
    sel.length = 0;
    sp.length = 0;

    /* 创建 options */
    var goods = result.content.goods;
    if (goods)
    {
      for (i = 0; i < goods.length; i++)
      {
          var opt = document.createElement("OPTION");
          opt.value = goods[i].goods_id;
          opt.text  = goods[i].goods_name;
          sel.options.add(opt);
      }
    }
    else
    {
      var opt = document.createElement("OPTION");
      opt.value = 0;
      opt.text  = search_is_null;
      sel.options.add(opt);
    }

    /* 创建 product options */
    var products = result.content.products;
    if (products)
    {
      sp.style.display = display_yes;

      for (i = 0; i < products.length; i++)
      {
        var p_opt = document.createElement("OPTION");
        p_opt.value = products[i].product_id;
        p_opt.text  = products[i].goods_attr_str;
        sp.options.add(p_opt);
      }
    }
    else
    {
      sp.style.display = 'none';

      var p_opt = document.createElement("OPTION");
      p_opt.value = 0;
      p_opt.text  = search_is_null;
      sp.options.add(p_opt);
    }
  }

  return;
}

function change_good_products()
{
  var filter = new Object;
  filter.goods_id = document.forms['theForm'].elements['goods_id'].value;

  Ajax.call('snatch.php?is_ajax=1&act=search_products', filter, searchProductsResponse, 'GET', 'JSON');
}

function searchProductsResponse(result)
{
  var frm = document.forms['theForm'];
  var sp = frm.elements['product_id'];

  if (result.error == 0)
  {
    /* 清除 options */
    sp.length = 0;

    /* 创建 product options */
    var products = result.content.products;
    if (products.length)
    {
      sp.style.display = display_yes;

      for (i = 0; i < products.length; i++)
      {
        var p_opt = document.createElement("OPTION");
        p_opt.value = products[i].product_id;
        p_opt.text  = products[i].goods_attr_str;
        sp.options.add(p_opt);
      }
    }
    else
    {
      sp.style.display = 'none';

      var p_opt = document.createElement("OPTION");
      p_opt.value = 0;
      p_opt.text  = search_is_null;
      sp.options.add(p_opt);
    }
  }

  if (result.message.length > 0)
  {
    alert(result.message);
  }
}
//-->
</script>
{/literal}
{include file="pagefooter.htm"}
