<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed">
            <remove statusCode="403" subStatusCode="-1" />
            <remove statusCode="500" subStatusCode="-1" />
            <error statusCode="500" prefixLanguageFilePath="" path="http://www.jsguoji.cn/mall/error.html" responseMode="Redirect" />
            <error statusCode="403" prefixLanguageFilePath="" path="/mall/error.html" responseMode="ExecuteURL" />
            <error statusCode="404" path="/mall/error.html" responseMode="ExecuteURL" />
        </httpErrors>
        <handlers>
            <add name="html" path="*.html" verb="*" modules="IsapiModule" scriptProcessor="H:\PHPWEB\php\php5isapi.dll" resourceType="Unspecified" requireAccess="Script" preCondition="bitness32" />
        </handlers>
        <caching enabled="false" enableKernelCache="false" />
    </system.webServer>
</configuration>
